services:
  backend:
    build:
      context: .
      dockerfile: ./backend/Dockerfile
    container_name: chat-backend
    ports:
      - "5000:5000"
    env_file:
      - ./backend/.env
    depends_on:
      - mongo
    networks:
      - chatnet
  client:
    build:
      context: .
      dockerfile: ./client/Dockerfile
    container_name: chat-client
    ports:
      - "3000:3000"
    networks:
      - chatnet
    depends_on:
      - backend
  mongo:
    image: mongo:7.0
    container_name: chat-mongo
    restart: always
    ports:
      - "27017:27017"
    command: ["--replSet", "rs0", "--bind_ip_all"]
    volumes:
      - mongo-data:/data/db
    networks:
      - chatnet
networks:
  chatnet:


volumes:
  mongo-data:
